.recents-flats, .cities {
  h2 {
    color: $blue;
  }
}

.recents-flats {
  margin-top: 80px;
}

.index-link {
  color: $blue;
  font-size: 20px;
  margin-top: 15px;
  &:hover {
    text-decoration: none;
    color: #447cd6;
  }
}
