.map-booking {
  margin-top: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .bloc-map {
    width: 60%;
    h4 {
      text-align: center;
    }
  }
  .bloc-booking {
    width: 30%;
    .btn {
      font-size: 20px;
      margin-bottom: 25px;
      color: white;
    }
  }
}

@media (min-width: 100px) and (max-width: 767px) {
  .map-booking {
    display: flex;
    flex-direction: column;
    align-items: center;
    .bloc-map {
      width: 90%;
    }
    .bloc-booking {
      width: 90%;
    }
  }
}

@media (min-width: 768px) {
  .map-booking {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .bloc-map {
      width: 60%;
    }
    .bloc-booking {
      width: 30%;
    }
  }
}


.fa-arrow-alt-circle-left {
  margin-top: 40px;
  font-size: 25px;
}

// -------------------------------------------------------

.img-show {
  text-align: center;
  img {
    width: 90%;
    height: auto;
    border-radius: 2%;
    object-fit: cover;
  }
}

.infos-show {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  .text {
    width: 85%;
    align-items: stretch;
  }
  i {
    color: #ffd100;
  }
  p, h3 {
    font-size: 22px;
  }
  h1, h3, h4 {
    color: #067bc2;
    font-weight: bold;
  }
}
