<div class="container">
  <div class="form-flat">
    <h2>Modification de l'offre</h2>
    <%= render 'form', product: @flat %>
    <%= link_to 'Annuler', flat_path, class: "btn btn-warning" %>
  </div>
</div>
