<div class="container">
  <h1>Ajouter votre offre de logement</h1>
  <%= render 'form', flat: @flat %>
  <%= link_to 'Annuler', root_path, class: "btn btn-warning", style: "margin-top: 40px" %>
</div>
