<div class="container">
  <div class="contact">
    <h2>Contacts</h2>
    <p>
      In porttitor erat a elit tincidunt condimentum.
      Praesent tincidunt mauris in velit facilisis bibendum.
      Phasellus pellentesque turpis sit amet urna iaculis, sed egestas sem sodales.
      Curabitur ac quam in nibh dictum tempus ut eu justo.
      Sed efficitur neque non risus congue fringilla.
      Aliquam id est commodo, tincidunt augue vitae, tincidunt magna.
      Nullam at magna in quam dignissim condimentum.
    </p>
    <span>
      <p>Envoyer un mail: <a href="mailto:">lorem.ipsum@fake.com</a></p>
    </span>
    <span>
      <p>Téléphone: <a href="tel:+">0123 45 67 89</a></p>
    </span>

  <%# <form action="_blank">
      <label for="email">Email</label>
      <input type="text" id="email" name="email" placeholder="you@yourself.com">
      <br>
      <label for="firstname">Prenom</label>
      <input type="text" id="firstname" name="firstname" placeholder="Your name..">
      <br>
      <label for="lastname">Nom</label>
      <input type="text" id="lastname" name="lastname" placeholder="Your name..">
      <br>
      <label for="tel">Telephone</label>
      <input type="tel" id="tel" name="tel" placeholder="0145632789">
      <br>
      <input type="submit" value="Submit">
  </form> %>
  </div>
</div>
