<div class="container">
  <h2>Lorem Ipsum</h2>
  <p>
    In porttitor erat a elit tincidunt condimentum.
    Praesent tincidunt mauris in velit facilisis bibendum.
    Phasellus pellentesque turpis sit amet urna iaculis, sed egestas sem sodales.
    Curabitur ac quam in nibh dictum tempus ut eu justo.
    Sed efficitur neque non risus congue fringilla.
    Aliquam id est commodo, tincidunt augue vitae, tincidunt magna.
    Nullam at magna in quam dignissim condimentum.
    Sed eget risus luctus, aliquet nisi nec, ultricies sem.
    Nullam sodales dolor pulvinar, vehicula magna et, dapibus nisl.
    Etiam blandit urna id augue venenatis maximus.
    Vestibulum vitae felis elementum, sagittis risus sit amet, fringilla magna.
  </p>
</div>
