.banner {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(120, 120, 120, 0.3), rgba(120, 120, 120, 0.3)), url('banner-flat.jpg');
  padding: 100px 100px;
  margin-bottom: 60px;
  border-bottom: 2px solid black;
  img {
    opacity: 0.1;
  }
  h1 {
  margin: 0;
  color: #ffd100;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  }
  p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
  .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h2 {
      color: #ffd100;
      font-weight: bold;
    }
  }
  .btn {
    border-radius: 15px;
    color: #ffd100;
    background-color: #067bc2;
    font-weight: bold;
    border: 1px solid #095c8f;
    &:hover {
      background-color: #58a3d2;
    }
  }
  .icon {
    position: absolute;
    color: white;
    background-color: #ffd100;
    width: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: #ffd100;
    height: 35px;
  }
  #query {
    position: relative;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 35px;
    width: 300px;
    padding: 0px 10px 0px 10px;
  }
}

// --------------------------------

.banner-show {
  background-size: cover;
  background-position: center;
  // background-color: #88c0e2;
  padding: 30px;
  margin-bottom: 12px;
  text-align: center;
  h2 {
    color: #067bc2;
    font-size: 36px;
    font-weight: bold;
  }
}
