.banner {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(120, 120, 120, 0.3), rgba(120, 120, 120, 0.3)), url('banner-flat.jpg');
  padding: 100px 0px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid black;
  img {
    opacity: 0.1;
  }
  h1 {
  margin: 0;
  color: #ffd100;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
  }
  p {
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    // justify-content: space-between;
    h2 {
      color: $gold;
      font-weight: bold;
    }
    .btn {
      border-radius: 15px;
      color: $gold;
      background-color: $blue;
      font-weight: bold;
      border: none;
      width: 250px;
      margin-top: 35px;
      &:hover {
        background-color: $gold;
        color: white;
      }
    }
    .icon {
      position: absolute;
      color: white;
      background-color: $gold;
      width: 40px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      border-color: $gold;
      height: 35px;
      border: none;
    }

    #query {
      position: relative;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      height: 35px;
      width: 320px;
      padding: 0px 10px 0px 10px;
      border: none;
      &:hover {
        border: 2px solid $gold;
      }
    }
  }
}

// --------------------------------

.banner-show {
  background-size: cover;
  background-position: center;
  // background-color: #88c0e2;
  padding: 30px;
  margin-bottom: 12px;
  text-align: center;
  h2 {
    color: #067bc2;
    font-weight: bold;
  }
}
