.banner {
  background-size: cover;
  background-position: center;
  background-image: url('banner 4 mdf.jpg');
  padding: 100px 100px;
  margin-bottom: 60px;
  img {
    opacity: 0.2;
  }
  h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  }
  p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
  .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .btn {
    border-radius: 15px;
  }
  a {
    color: #067bc2;
    font-weight: bold;
  }
  .icon {
    position: absolute;
    color: #067bc2;
    background-color: white;
    border-color: #067bc2;
  }
}

// --------------------------------

.banner-show {
  background-size: cover;
  background-position: center;
  // background-color: #88c0e2;
  padding: 30px;
  margin-bottom: 12px;
  text-align: center;
  h1 {
    color: #067bc2;
    // font-size: 32px;
    font-weight: bold;
  }
}
