.card-flat {
  border-radius: 10px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: auto;
  img {
    height: 350px;
    width: 100%;
    object-fit: cover;
  }
  h2 {
    padding-top: 8px;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  h4 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding-right: 5px;
  }
  p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }
}
.card-flat .card-flat-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
.card-flat-infos .card-flat-user {
  position: absolute;
  right: 35px;
  top: 0px;
  width: 42px;
  height: 42px;
}
// XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX




// ------------------ CARD PRODUCT -------------------------------------------

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}
.card-product .card-product-infos {
  padding: 16px;
}

// ---------------------------------------------

.card {
  border-radius: 5px;
  text-align: center;
  background-color: #F4F4F4;
  border: none;
  h1 {
    padding-top: 15px;
  }
  h1, h2 {
    color: #067bc2;
  }
  padding: 16px;
  margin: 0px 0px 50px 0px;
  .btn {
    margin-top: 8px;
    margin-bottom: 40px;
  }
}
.new_booking {
  align-self: center;
}

// -----------------------------

.card-my-cars {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin: 20px;
  width: 60%;
  img {
    height: 100%;
    width: 180px;
    object-fit: cover;
  }
}
.card-my-cars-infos {
  padding: 16px;
}

// ------------------------

.card-books {
  background-color: white;
  border-radius: 5px;
  text-align: center;
  padding: 16px;
  margin: 25px 10px 15px 10px;
  border: 2px solid #ffd100;
  a {
    text-decoration: none;
  }
  h1, h2 {
    color: #067bc2;
  }
  .btn {
    margin-top: 8px;
    margin-bottom: 40px;
  }
}

// --------------------------------------

.card-category {
  // background-image: url("paris.jpg");
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    text-decoration: none;
    color: #ffd100;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  }
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.display-comments {
  background-color: white;
  margin-top: 50px;
  padding: 15px;
  border: 3px solid #067bc2;
  p {
    display: inline;
  }
}

.row {
  display: inline;
  // flex-direction: row;
  justify-content: space-between;
}
