.footer {
  display: flex;
  justify-content: space-around;
  background: #067bc2;
  padding: 12px 0px;
  border-top: 1px solid #095c8f;
  border-bottom: 2px solid #095c8f;
  margin-top: 80px;
  a {
    color: $gold;
    text-decoration: none;
    font-size: 30px;
    margin-right: 10px;
    &:hover {
      color: rgb(228, 168, 30);
    }
  }
  .cpr {
    font-size: 22px;
  }
}
