footer {
  display: flex;
  justify-content: space-around;
  background: #067bc2;
  padding: 12px 0px;
  margin-top: auto;
  // position: fixed;
  // bottom: 0;
  width: 100%;
  .footer-section {
    display: flex;
    flex-direction: column;
    .footer-header {
      text-align: center;
      color: $gold;
    }
    .footer-icons a {
      margin: 0 5px;
    }
  }
  a, p {
    color: $gold;
    text-align: center;
    text-decoration: none;
    margin: 2px auto;
    &:hover {
      color: rgb(228, 168, 30);
    }
  }
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}
