// Extra large devices (large desktops, 1200px and up)
// Large devices (desktops, 992px and up)
// Medium devices (tablets, 768px and up)
// Small devices (landscape phones, 576px and up)
// Smallest device

.flat-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}
@media (min-width: 100px) and (max-width: 575px) {
  .flat-grid {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 576px) {
  .flat-grid {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 768px) {
  .flat-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 992px) {
  .flat-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .flat-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 2000px) {
  .flat-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// -------------------------------------------------------------------

.index-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}
@media (min-width: 100px) and (max-width: 575px) {
  .index-grid {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 576px) {
  .index-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 768px) {
  .index-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 992px) {
  .index-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .index-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// ------------------------------------------------------------------

.grid-bookings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
@media (min-width: 100px) and (max-width: 575px) {
  .grid-bookings {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 576px) {
  .grid-bookings {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 768px) {
  .grid-bookings {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 992px) {
  .grid-bookings {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .grid-bookings {
    grid-template-columns: 1fr 1fr;
  }
}

// ----------------------------------------------------

.cities-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
}
@media (min-width: 100px) and (max-width: 575px) {
  .cities-grid {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 576px) {
  .cities-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 768px) {
  .cities-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 992px) {
  .cities-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .cities-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
