.navbar {
  justify-content: space-between;
  background: #067bc2;
  padding: 10px 40px 1px 50px;
  border-top: 1px solid #095c8f;
  border-bottom: 2px solid #095c8f;
  width: 100%;
  h2 {
    color: #ffd100;
    &:hover {
      color: #f0a017;
    }
  }
  p {
    margin-right: 15px;
    color: #ffd100;
    font-weight: bold;

    &:hover {
      color: #f0a017;
    }
  }
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar-nav .dropdown-menu {
  position: static;
  float: none;
  border-radius: 10px;
  padding: 15px 5px 15px 5px;
}

.avatar {
  width: 40px;
  border-radius: 50%;
  height: 40px;
  // background-color: white;
  &:hover {
    opacity: 0.5
  }
}

.navbar-light .navbar-nav .nav-link {
  color: #ffd100;
  font-weight: bold;
  &:hover {
    color: #f0a017;
  }
}

// --------------------------

.nav-user {
  .dropdown {
    margin-right: 150px;
  }
  ul {
    list-style: none;
    margin-right: 0;
    padding-left: 0;
  }
  li {
    color: #fff;
    display: block;
    float: left;
    padding-left: 50px;
    position: relative;
    text-decoration: none;
  }
  a {
    color: #ffd100;
    text-decoration: none;
    font-weight: bold;
    margin-top: 16px;
  }
  li:hover,
  li:focus-within {
    cursor: pointer;
  }
  li:focus-within a {
    outline: none;
  }
  ul li ul {
    background: white;
    visibility: hidden;
    opacity: 0;
    // min-width: 5rem;
    position: absolute;
    margin: 5;
    // left: 100;
    right: 200;
    display: none;
    border-radius: 10px;
    border: 3px solid #ffd100;
  }
  ul li:hover>ul,
  ul li:focus-within>ul,
  ul li ul:hover,
  ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block
  }
  ul li ul li {
    border-bottom: 1px dashed #ffd100;
    clear: both;
    width: 100%;
  }
}
