.map-booking {
  margin-top: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .bloc-map {
    width: 60%;
    h4 {
      text-align: center;
    }
  }
  .bloc-booking {
    width: 30%;
    .btn {
      font-size: 20px;
      margin-bottom: 25px;
      color: white;
    }
  }
}

.fa-arrow-alt-circle-left {
  margin-top: 40px;
  font-size: 25px;
}

// --------------------------------
.img-show {
  text-align: center;
  img {
    width: 85%;
    height: 550px;
    border-radius: 2%;
  }
}
// ----------------
.infos-show {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  .text {
  width: 85%;
  align-items: stretch;
  }
  i {
    color: #ffd100;
    // background-color: #067bc2;
  }
  p, h4 {
    font-size: 22px;
  }
  h1, h4 {
    color: #067bc2;
    font-weight: bold;
  }
}
