// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "mapbox-gl/dist/mapbox-gl";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";
@import "flatpickr/dist/flatpickr";


// Your CSS partials
@import "components/index";
@import "pages/index";
@import "./actiontext.scss";
@import "actiontext.scss";

// To let the FOOTER at the bottom but not fixed-down when screen height > 100vh
html {
  height: 100%;
}
body {
  background-color: rgb(250, 250, 250);
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  margin-bottom: min(50px);
}
// -----------------------------------------------------------------------------

.btn {
  border-radius: 15px;
}

.valid-booking {
  label.collection_radio_buttons {
    border-radius: 10px;
    margin: 7px;
    color: #067bc2;
    padding: 12px;
    // font-size: 18px;
    font-weight: bold;
    border: 2px solid #ffd100;
  }

  input {
    display: none;
    &+label {
      &:before {
        content: "";
        display: none;
      }
    }
    &:checked {
      &+label {
        color: white;
        background-color: #ffd100;
        border: 2px solid #ffd100;
      }
    }
  }
}
